<%- include('../layouts/header', {title: "Edit Checklist"} ) %>
<%- include('../layouts/menu') %>

<section class="section">
  <div class="container">
      <h1 class="title size-4">Editar Lista</h1>
  </div>
  <%- include('form', {url:`/checklists/${checklist.id}?_method=put`, checklist: checklist}) %> 
</section>

<%- include('../layouts/footer') %>
